In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
import time as t
from json import dumps
import math as m
import json
import numpy as np

In [14]:
# Create Producer.

producer = KafkaProducer(bootstrap_servers=['3.110.132.110:9092'], #change ip here
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [34]:
# Send Data To Producer.
producer.send('demo_topic_de-02', value= {'Ankit':"Michael Schumacher"})

In [2]:
df = pd.read_csv("indexProcessed.csv")

In [3]:
df.head(5)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [4]:
psd = df.head(10).to_dict(orient='records')
print(psd)

[{'Index': 'HSI', 'Date': '1986-12-31', 'Open': 2568.300049, 'High': 2568.300049, 'Low': 2568.300049, 'Close': 2568.300049, 'Adj Close': 2568.300049, 'Volume': 0.0, 'CloseUSD': 333.87900637}, {'Index': 'HSI', 'Date': '1987-01-02', 'Open': 2540.100098, 'High': 2540.100098, 'Low': 2540.100098, 'Close': 2540.100098, 'Adj Close': 2540.100098, 'Volume': 0.0, 'CloseUSD': 330.21301274}, {'Index': 'HSI', 'Date': '1987-01-05', 'Open': 2552.399902, 'High': 2552.399902, 'Low': 2552.399902, 'Close': 2552.399902, 'Adj Close': 2552.399902, 'Volume': 0.0, 'CloseUSD': 331.81198726}, {'Index': 'HSI', 'Date': '1987-01-06', 'Open': 2583.899902, 'High': 2583.899902, 'Low': 2583.899902, 'Close': 2583.899902, 'Adj Close': 2583.899902, 'Volume': 0.0, 'CloseUSD': 335.90698726000005}, {'Index': 'HSI', 'Date': '1987-01-07', 'Open': 2607.100098, 'High': 2607.100098, 'Low': 2607.100098, 'Close': 2607.100098, 'Adj Close': 2607.100098, 'Volume': 0.0, 'CloseUSD': 338.92301274}, {'Index': 'HSI', 'Date': '1987-01-08', 'Open': 2603.300049, 'High': 2603.300049, 'Low': 2603.300049, 'Close': 2603.300049, 'Adj Close': 2603.300049, 'Volume': 0.0, 'CloseUSD': 338.42900637}, {'Index': 'HSI', 'Date': '1987-01-09', 'Open': 2561.699951, 'High': 2561.699951, 'Low': 2561.699951, 'Close': 2561.699951, 'Adj Close': 2561.699951, 'Volume': 0.0, 'CloseUSD': 333.02099363}, {'Index': 'HSI', 'Date': '1987-01-12', 'Open': 2614.899902, 'High': 2614.899902, 'Low': 2614.899902, 'Close': 2614.899902, 'Adj Close': 2614.899902, 'Volume': 0.0, 'CloseUSD': 339.93698726}, {'Index': 'HSI', 'Date': '1987-01-13', 'Open': 2590.800049, 'High': 2590.800049, 'Low': 2590.800049, 'Close': 2590.800049, 'Adj Close': 2590.800049, 'Volume': 0.0, 'CloseUSD': 336.80400637}, {'Index': 'HSI', 'Date': '1987-01-14', 'Open': 2578.199951, 'High': 2578.199951, 'Low': 2578.199951, 'Close': 2578.199951, 'Adj Close': 2578.199951, 'Volume': 0.0, 'CloseUSD': 335.16599363}]

In [ ]:
dataList = df.head(10).to_dict(orient='records')
index = 0
while index < len(dataList):
    for key in dataList[index]:
        print(dataList[index][key])
    index += 1

In [ ]:
dataList = df.head(100).to_dict(orient='records')
index= 0
while index < len(dataList):
    print(dataList[index])
    producer.send('demo_topic_de-02', value=dataList[index])
    index += 1

In [42]:
# Flash All Producer Data
producer.flush()

In [ ]:
count_rows = df.shape[0]
print(count_rows)

batch_lot = 100
total_batch = round(count_rows/batch_lot) + 1
print("The Total Batches are", total_batch)

In [ ]:
# Create a function to Process Batches of Data from
# Kafka Consumer and upload To S3 Bucket.

In [ ]:
def batch_process(data_set_size):
    print(data_set_size)

In [ ]:
# ----------------- Data Analysis: Producer ---------------------

In [18]:
# Fetch Head & Tail Data.

df.head(300)
df.tail(2)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
104222,J203.JO,2021-05-28,66940.25000,67726.56250,66794.60938,67554.85938,67554.85938,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.85938,68140.85156,67554.85938,67964.03906,67964.03906,0.0,4757.482734

In [34]:
# Invert Column To Row with Number of Required rows.

df.T.head(20)

Index        104224
Date         104224
Open         104224
High         104224
Low          104224
Close        104224
Adj Close    104224
Volume       104224
CloseUSD     104224
dtype: int64