In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
import time as t
from json import dumps
import math as m
import json
import numpy as np

In [14]:
# Create Producer.

producer = KafkaProducer(bootstrap_servers=['3.110.132.110:9092'], #change ip here
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [34]:
# Send Data To Producer.
producer.send('demo_topic_de-02', value= {'Ankit':"Michael Schumacher"})

In [5]:
df = pd.read_csv("indexProcessed.csv")

In [4]:
df.head(5)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
df.head(10).to_dict(orient='records')

In [ ]:
dataList = df.head(10).to_dict(orient='records')
index = 0
while index < len(dataList):
    for key in dataList[index]:
        print(dataList[index][key])
    index += 1

In [ ]:
dataList = df.head(100).to_dict(orient='records')
index= 0
while index < len(dataList):
    print(dataList[index])
    producer.send('demo_topic_de-02', value=dataList[index])
    index += 1

In [42]:
# Flash All Producer Data
producer.flush()

In [ ]:
count_rows = df.shape[0]
print(count_rows)

batch_lot = 100
total_batch = round(count_rows/batch_lot) + 1
print("The Total Batches are", total_batch)

In [ ]:
# Create a function to Process Batches of Data from
# Kafka Consumer and upload To S3 Bucket.

In [ ]:
def batch_process(data_set_size):
    print(data_set_size)

In [ ]:
# ----------------- Data Analysis: Producer ---------------------

In [18]:
# Fetch Head & Tail Data.

df.head(300)
df.tail(2)

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
104222,J203.JO,2021-05-28,66940.25000,67726.56250,66794.60938,67554.85938,67554.85938,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.85938,68140.85156,67554.85938,67964.03906,67964.03906,0.0,4757.482734

In [34]:
# Invert Column To Row with Number of Required rows.

df.T.head(20)

Index        104224
Date         104224
Open         104224
High         104224
Low          104224
Close        104224
Adj Close    104224
Volume       104224
CloseUSD     104224
dtype: int64