In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col
from pyspark.sql.functions import avg
from pyspark.sql.functions import expr
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.appName("SPARK_TITANIC_01").getOrCreate()

23/12/10 11:18:14 WARN Utils: Your hostname, Sivas-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.5 instead (on interface en0)
23/12/10 11:18:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/10 11:18:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("titanic_dataset.csv")

In [4]:
# df.show(200)
df.count()

891

In [5]:
# Filter Data which has Null Age
filtered_df = df.filter("Age is not null")

In [5]:
filtered_df.select('*').where(filtered_df.PassengerId == '295').show()
# filtered_df.count()

+-----------+--------+------+----------------+----+----+-----+-----+------+------+-----+--------+
|PassengerId|Survived|Pclass|            Name| Sex| Age|SibSp|Parch|Ticket|  Fare|Cabin|Embarked|
+-----------+--------+------+----------------+----+----+-----+-----+------+------+-----+--------+
|        295|       0|     3|Mineff, Mr. Ivan|male|24.0|    0|    0|349233|7.8958| NULL|       S|
+-----------+--------+------+----------------+----+----+-----+-----+------+------+-----+--------+

In [6]:
filtered_df.select('*').where(filtered_df.Ticket == 'A/5 21171').show()

+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|   Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|22.0|    1|    0|A/5 21171|7.25| NULL|       S|
+-----------+--------+------+--------------------+----+----+-----+-----+---------+----+-----+--------+

In [29]:
# Determine the Total Death and Survived.
# filtered_df.where(filtered_df.Survived == 0).count()
filtered_df.where(filtered_df.Survived > 0).collect()

[Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=9, Survived=1, Pclass=3, Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age=27.0, SibSp=0, Parch=2, Ticket='347742', Fare=11.1333, Cabin=None, Embarked='S'),
 Row(PassengerId=10, Survived=1, Pclass=2, Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='237736', Fare=30.0708, Cabin=None, Embarked='C'),
 Row(PassengerId=11, Survived=1, Pclass=3, Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age=4.0, SibSp=1, Parch=1, Ticket='PP 9549', Fare=16.7, Cabin='G6', Embarked='S'),
 Row(PassengerId=12, Survived=1, Pclass=1, Name='Bonnell, Miss. Elizabeth', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='113783', Fare=26.55, Cabin='C103', Embarked='S'),
 Row(PassengerId=16, Survived=1, Pclass=2, Name='Hewlett, Mrs. (Mary D Kingcome) ', Sex='female', Age=55.0, SibSp=0, Parch=0, Ticket='248706', Fare=16.0, Cabin=None, Embarked='S'),
 Row(PassengerId=22, Survived=1, Pclass=2, Name='Beesley, Mr. Lawrence', Sex='male', Age=34.0, SibSp=0, Parch=0, Ticket='248698', Fare=13.0, Cabin='D56', Embarked='S'),
 Row(PassengerId=23, Survived=1, Pclass=3, Name='"McGowan, Miss. Anna ""Annie"""', Sex='female', Age=15.0, SibSp=0, Parch=0, Ticket='330923', Fare=8.0292, Cabin=None, Embarked='Q'),
 Row(PassengerId=24, Survived=1, Pclass=1, Name='Sloper, Mr. William Thompson', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='113788', Fare=35.5, Cabin='A6', Embarked='S'),
 Row(PassengerId=26, Survived=1, Pclass=3, Name='Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', Sex='female', Age=38.0, SibSp=1, Parch=5, Ticket='347077', Fare=31.3875, Cabin=None, Embarked='S'),
 Row(PassengerId=40, Survived=1, Pclass=3, Name='Nicola-Yarred, Miss. Jamila', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='2651', Fare=11.2417, Cabin=None, Embarked='C'),
 Row(PassengerId=44, Survived=1, Pclass=2, Name='Laroche, Miss. Simonne Marie Anne Andree', Sex='female', Age=3.0, SibSp=1, Parch=2, Ticket='SC/Paris 2123', Fare=41.5792, Cabin=None, Embarked='C'),
 Row(PassengerId=45, Survived=1, Pclass=3, Name='Devaney, Miss. Margaret Delia', Sex='female', Age=19.0, SibSp=0, Parch=0, Ticket='330958', Fare=7.8792, Cabin=None, Embarked='Q'),
 Row(PassengerId=53, Survived=1, Pclass=1, Name='Harper, Mrs. Henry Sleeper (Myna Haxtun)', Sex='female', Age=49.0, SibSp=1, Parch=0, Ticket='PC 17572', Fare=76.7292, Cabin='D33', Embarked='C'),
 Row(PassengerId=54, Survived=1, Pclass=2, Name='Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket='2926', Fare=26.0, Cabin=None, Embarked='S'),
 Row(PassengerId=57, Survived=1, Pclass=2, Name='Rugg, Miss. Emily', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket='C.A. 31026', Fare=10.5, Cabin=None, Embarked='S'),
 Row(PassengerId=59, Survived=1, Pclass=2, Name='West, Miss. Constance Mirium', Sex='female', Age=5.0, SibSp=1, Parch=2, Ticket='C.A. 34651', Fare=27.75, Cabin=None, Embarked='S'),
 Row(PassengerId=62, Survived=1, Pclass=1, Name='Icard, Miss. Amelie', Sex='female', Age=38.0, SibSp=0, Parch=0, Ticket='113572', Fare=80.0, Cabin='B28', Embarked=None),
 Row(PassengerId=67, Survived=1, Pclass=2, Name='Nye, Mrs. (Elizabeth Ramell)', Sex='female', Age=29.0, SibSp=0, Parch=0, Ticket='C.A. 29395', Fare=10.5, Cabin='F33', Embarked='S'),
 Row(PassengerId=69, Survived=1, Pclass=3, Name='Andersson, Miss. Erna Alexandra', Sex='female', Age=17.0, SibSp=4, Parch=2, Ticket='3101281', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=75, Survived=1, Pclass=3, Name='Bing, Mr. Lee', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='1601', Fare=56.4958, Cabin=None, Embarked='S'),
 Row(PassengerId=79, Survived=1, Pclass=2, Name='Caldwell, Master. Alden Gates', Sex='male', Age=0.83, SibSp=0, Parch=2, Ticket='248738', Fare=29.0, Cabin=None, Embarked='S'),
 Row(PassengerId=80, Survived=1, Pclass=3, Name='Dowdell, Miss. Elizabeth', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='364516', Fare=12.475, Cabin=None, Embarked='S'),
 Row(PassengerId=82, Survived=1, Pclass=3, Name='Sheerlinck, Mr. Jan Baptist', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='345779', Fare=9.5, Cabin=None, Embarked='S'),
 Row(PassengerId=85, Survived=1, Pclass=2, Name='Ilett, Miss. Bertha', Sex='female', Age=17.0, SibSp=0, Parch=0, Ticket='SO/C 14885', Fare=10.5, Cabin=None, Embarked='S'),
 Row(PassengerId=86, Survived=1, Pclass=3, Name='Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', Sex='female', Age=33.0, SibSp=3, Parch=0, Ticket='3101278', Fare=15.85, Cabin=None, Embarked='S'),
 Row(PassengerId=89, Survived=1, Pclass=1, Name='Fortune, Miss. Mabel Helen', Sex='female', Age=23.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId=98, Survived=1, Pclass=1, Name='Greenfield, Mr. William Bertram', Sex='male', Age=23.0, SibSp=0, Parch=1, Ticket='PC 17759', Fare=63.3583, Cabin='D10 D12', Embarked='C'),
 Row(PassengerId=99, Survived=1, Pclass=2, Name='Doling, Mrs. John T (Ada Julia Bone)', Sex='female', Age=34.0, SibSp=0, Parch=1, Ticket='231919', Fare=23.0, Cabin=None, Embarked='S'),
 Row(PassengerId=107, Survived=1, Pclass=3, Name='Salkjelsvik, Miss. Anna Kristine', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket='343120', Fare=7.65, Cabin=None, Embarked='S'),
 Row(PassengerId=124, Survived=1, Pclass=2, Name='Webber, Miss. Susan', Sex='female', Age=32.5, SibSp=0, Parch=0, Ticket='27267', Fare=13.0, Cabin='E101', Embarked='S'),
 Row(PassengerId=126, Survived=1, Pclass=3, Name='Nicola-Yarred, Master. Elias', Sex='male', Age=12.0, SibSp=1, Parch=0, Ticket='2651', Fare=11.2417, Cabin=None, Embarked='C'),
 Row(PassengerId=128, Survived=1, Pclass=3, Name='Madsen, Mr. Fridtjof Arne', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket='C 17369', Fare=7.1417, Cabin=None, Embarked='S'),
 Row(PassengerId=134, Survived=1, Pclass=2, Name='Weisz, Mrs. Leopold (Mathilde Francoise Pede)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket='228414', Fare=26.0, Cabin=None, Embarked='S'),
 Row(PassengerId=137, Survived=1, Pclass=1, Name='Newsom, Miss. Helen Monypeny', Sex='female', Age=19.0, SibSp=0, Parch=2, Ticket='11752', Fare=26.2833, Cabin='D47', Embarked='S'),
 Row(PassengerId=142, Survived=1, Pclass=3, Name='Nysten, Miss. Anna Sofia', Sex='female', Age=22.0, SibSp=0, Parch=0, Ticket='347081', Fare=7.75, Cabin=None, Embarked='S'),
 Row(PassengerId=143, Survived=1, Pclass=3, Name='Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', Sex='female', Age=24.0, SibSp=1, Parch=0, Ticket='STON/O2. 3101279', Fare=15.85, Cabin=None, Embarked='S'),
 Row(PassengerId=147, Survived=1, Pclass=3, Name='"Andersson, Mr. August Edvard (""Wennerstrom"")"', Sex='male', Age=27.0, SibSp=0, Parch=0, Ticket='350043', Fare=7.7958, Cabin=None, Embarked='S'),
 Row(PassengerId=152, Survived=1, Pclass=1, Name='Pears, Mrs. Thomas (Edith Wearne)', Sex='female', Age=22.0, SibSp=1, Parch=0, Ticket='113776', Fare=66.6, Cabin='C2', Embarked='S'),
 Row(PassengerId=157, Survived=1, Pclass=3, Name='"Gilnagh, Miss. Katherine ""Katie"""', Sex='female', Age=16.0, SibSp=0, Parch=0, Ticket='35851', Fare=7.7333, Cabin=None, Embarked='Q'),
 Row(PassengerId=162, Survived=1, Pclass=2, Name='"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', Sex='female', Age=40.0, SibSp=0, Parch=0, Ticket='C.A. 33595', Fare=15.75, Cabin=None, Embarked='S'),
 Row(PassengerId=166, Survived=1, Pclass=3, Name='"Goldsmith, Master. Frank John William ""Frankie"""', Sex='male', Age=9.0, SibSp=0, Parch=2, Ticket='363291', Fare=20.525, Cabin=None, Embarked='S'),
 Row(PassengerId=173, Survived=1, Pclass=3, Name='Johnson, Miss. Eleanor Ileen', Sex='female', Age=1.0, SibSp=1, Parch=1, Ticket='347742', Fare=11.1333, Cabin=None, Embarked='S'),
 Row(PassengerId=184, Survived=1, Pclass=2, Name='Becker, Master. Richard F', Sex='male', Age=1.0, SibSp=2, Parch=1, Ticket='230136', Fare=39.0, Cabin='F4', Embarked='S'),
 Row(PassengerId=185, Survived=1, Pclass=3, Name='Kink-Heilmann, Miss. Luise Gretchen', Sex='female', Age=4.0, SibSp=0, Parch=2, Ticket='315153', Fare=22.025, Cabin=None, Embarked='S'),
 Row(PassengerId=188, Survived=1, Pclass=1, Name='"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"', Sex='male', Age=45.0, SibSp=0, Parch=0, Ticket='111428', Fare=26.55, Cabin=None, Embarked='S'),
 Row(PassengerId=191, Survived=1, Pclass=2, Name='Pinsky, Mrs. (Rosa)', Sex='female', Age=32.0, SibSp=0, Parch=0, Ticket='234604', Fare=13.0, Cabin=None, Embarked='S'),
 Row(PassengerId=193, Survived=1, Pclass=3, Name='Andersen-Jensen, Miss. Carla Christine Nielsine', Sex='female', Age=19.0, SibSp=1, Parch=0, Ticket='350046', Fare=7.8542, Cabin=None, Embarked='S'),
 Row(PassengerId=194, Survived=1, Pclass=2, Name='Navratil, Master. Michel M', Sex='male', Age=3.0, SibSp=1, Parch=1, Ticket='230080', Fare=26.0, Cabin='F2', Embarked='S'),
 Row(PassengerId=195, Survived=1, Pclass=1, Name='Brown, Mrs. James Joseph (Margaret Tobin)', Sex='female', Age=44.0, SibSp=0, Parch=0, Ticket='PC 17610', Fare=27.7208, Cabin='B4', Embarked='C'),
 Row(PassengerId=196, Survived=1, Pclass=1, Name='Lurette, Miss. Elise', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='PC 17569', Fare=146.5208, Cabin='B80', Embarked='C'),
 Row(PassengerId=205, Survived=1, Pclass=3, Name='"Cohen, Mr. Gurshon ""Gus"""', Sex='male', Age=18.0, SibSp=0, Parch=0, Ticket='A/5 3540', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=208, Survived=1, Pclass=3, Name='Albimona, Mr. Nassef Cassem', Sex='male', Age=26.0, SibSp=0, Parch=0, Ticket='2699', Fare=18.7875, Cabin=None, Embarked='C'),
 Row(PassengerId=209, Survived=1, Pclass=3, Name='"Carr, Miss. Helen ""Ellen"""', Sex='female', Age=16.0, SibSp=0, Parch=0, Ticket='367231', Fare=7.75, Cabin=None, Embarked='Q'),
 Row(PassengerId=210, Survived=1, Pclass=1, Name='Blank, Mr. Henry', Sex='male', Age=40.0, SibSp=0, Parch=0, Ticket='112277', Fare=31.0, Cabin='A31', Embarked='C'),
 Row(PassengerId=212, Survived=1, Pclass=2, Name='Cameron, Miss. Clear Annie', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='F.C.C. 13528', Fare=21.0, Cabin=None, Embarked='S'),
 Row(PassengerId=216, Survived=1, Pclass=1, Name='Newell, Miss. Madeleine', Sex='female', Age=31.0, SibSp=1, Parch=0, Ticket='35273', Fare=113.275, Cabin='D36', Embarked='C'),
 Row(PassengerId=217, Survived=1, Pclass=3, Name='Honkanen, Miss. Eliina', Sex='female', Age=27.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101283', Fare=7.925, Cabin=None, Embarked='S'),
 Row(PassengerId=219, Survived=1, Pclass=1, Name='Bazzani, Miss. Albina', Sex='female', Age=32.0, SibSp=0, Parch=0, Ticket='11813', Fare=76.2917, Cabin='D15', Embarked='C'),
 Row(PassengerId=221, Survived=1, Pclass=3, Name='Sunderland, Mr. Victor Francis', Sex='male', Age=16.0, SibSp=0, Parch=0, Ticket='SOTON/OQ 392089', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=225, Survived=1, Pclass=1, Name='Hoyt, Mr. Frederick Maxfield', Sex='male', Age=38.0, SibSp=1, Parch=0, Ticket='19943', Fare=90.0, Cabin='C93', Embarked='S'),
 Row(PassengerId=227, Survived=1, Pclass=2, Name='Mellors, Mr. William John', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket='SW/PP 751', Fare=10.5, Cabin=None, Embarked='S'),
 Row(PassengerId=231, Survived=1, Pclass=1, Name='Harris, Mrs. Henry Birkhardt (Irene Wallach)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='36973', Fare=83.475, Cabin='C83', Embarked='S'),
 Row(PassengerId=234, Survived=1, Pclass=3, Name='Asplund, Miss. Lillian Gertrud', Sex='female', Age=5.0, SibSp=4, Parch=2, Ticket='347077', Fare=31.3875, Cabin=None, Embarked='S'),
 Row(PassengerId=238, Survived=1, Pclass=2, Name='"Collyer, Miss. Marjorie ""Lottie"""', Sex='female', Age=8.0, SibSp=0, Parch=2, Ticket='C.A. 31921', Fare=26.25, Cabin=None, Embarked='S'),
 Row(PassengerId=248, Survived=1, Pclass=2, Name='Hamalainen, Mrs. William (Anna)', Sex='female', Age=24.0, SibSp=0, Parch=2, Ticket='250649', Fare=14.5, Cabin=None, Embarked='S'),
 Row(PassengerId=249, Survived=1, Pclass=1, Name='Beckwith, Mr. Richard Leonard', Sex='male', Age=37.0, SibSp=1, Parch=1, Ticket='11751', Fare=52.5542, Cabin='D35', Embarked='S'),
 Row(PassengerId=256, Survived=1, Pclass=3, Name='Touma, Mrs. Darwis (Hanne Youssef Razi)', Sex='female', Age=29.0, SibSp=0, Parch=2, Ticket='2650', Fare=15.2458, Cabin=None, Embarked='C'),
 Row(PassengerId=258, Survived=1, Pclass=1, Name='Cherry, Miss. Gladys', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='110152', Fare=86.5, Cabin='B77', Embarked='S'),
 Row(PassengerId=259, Survived=1, Pclass=1, Name='Ward, Miss. Anna', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='PC 17755', Fare=512.3292, Cabin=None, Embarked='C'),
 Row(PassengerId=260, Survived=1, Pclass=2, Name='Parrish, Mrs. (Lutie Davis)', Sex='female', Age=50.0, SibSp=0, Parch=1, Ticket='230433', Fare=26.0, Cabin=None, Embarked='S'),
 Row(PassengerId=262, Survived=1, Pclass=3, Name='Asplund, Master. Edvin Rojj Felix', Sex='male', Age=3.0, SibSp=4, Parch=2, Ticket='347077', Fare=31.3875, Cabin=None, Embarked='S'),
 Row(PassengerId=268, Survived=1, Pclass=3, Name='Persson, Mr. Ernst Ulrik', Sex='male', Age=25.0, SibSp=1, Parch=0, Ticket='347083', Fare=7.775, Cabin=None, Embarked='S'),
 Row(PassengerId=269, Survived=1, Pclass=1, Name='Graham, Mrs. William Thompson (Edith Junkins)', Sex='female', Age=58.0, SibSp=0, Parch=1, Ticket='PC 17582', Fare=153.4625, Cabin='C125', Embarked='S'),
 Row(PassengerId=270, Survived=1, Pclass=1, Name='Bissette, Miss. Amelia', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='PC 17760', Fare=135.6333, Cabin='C99', Embarked='S'),
 Row(PassengerId=272, Survived=1, Pclass=3, Name='Tornquist, Mr. William Henry', Sex='male', Age=25.0, SibSp=0, Parch=0, Ticket='LINE', Fare=0.0, Cabin=None, Embarked='S'),
 Row(PassengerId=273, Survived=1, Pclass=2, Name='Mellinger, Mrs. (Elizabeth Anne Maidment)', Sex='female', Age=41.0, SibSp=0, Parch=1, Ticket='250644', Fare=19.5, Cabin=None, Embarked='S'),
 Row(PassengerId=276, Survived=1, Pclass=1, Name='Andrews, Miss. Kornelia Theodosia', Sex='female', Age=63.0, SibSp=1, Parch=0, Ticket='13502', Fare=77.9583, Cabin='D7', Embarked='S'),
 Row(PassengerId=280, Survived=1, Pclass=3, Name='Abbott, Mrs. Stanton (Rosa Hunt)', Sex='female', Age=35.0, SibSp=1, Parch=1, Ticket='C.A. 2673', Fare=20.25, Cabin=None, Embarked='S'),
 Row(PassengerId=284, Survived=1, Pclass=3, Name='Dorking, Mr. Edward Arthur', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket='A/5. 10482', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=287, Survived=1, Pclass=3, Name='de Mulder, Mr. Theodore', Sex='male', Age=30.0, SibSp=0, Parch=0, Ticket='345774', Fare=9.5, Cabin=None, Embarked='S'),
 Row(PassengerId=289, Survived=1, Pclass=2, Name='Hosono, Mr. Masabumi', Sex='male', Age=42.0, SibSp=0, Parch=0, Ticket='237798', Fare=13.0, Cabin=None, Embarked='S'),
 Row(PassengerId=290, Survived=1, Pclass=3, Name='Connolly, Miss. Kate', Sex='female', Age=22.0, SibSp=0, Parch=0, Ticket='370373', Fare=7.75, Cabin=None, Embarked='Q'),
 Row(PassengerId=291, Survived=1, Pclass=1, Name='"Barber, Miss. Ellen ""Nellie"""', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='19877', Fare=78.85, Cabin=None, Embarked='S'),
 Row(PassengerId=292, Survived=1, Pclass=1, Name='Bishop, Mrs. Dickinson H (Helen Walton)', Sex='female', Age=19.0, SibSp=1, Parch=0, Ticket='11967', Fare=91.0792, Cabin='B49', Embarked='C'),
 Row(PassengerId=300, Survived=1, Pclass=1, Name='Baxter, Mrs. James (Helene DeLaudeniere Chaput)', Sex='female', Age=50.0, SibSp=0, Parch=1, Ticket='PC 17558', Fare=247.5208, Cabin='B58 B60', Embarked='C'),
 Row(PassengerId=306, Survived=1, Pclass=1, Name='Allison, Master. Hudson Trevor', Sex='male', Age=0.92, SibSp=1, Parch=2, Ticket='113781', Fare=151.55, Cabin='C22 C26', Embarked='S'),
 Row(PassengerId=308, Survived=1, Pclass=1, Name='Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', Sex='female', Age=17.0, SibSp=1, Parch=0, Ticket='PC 17758', Fare=108.9, Cabin='C65', Embarked='C'),
 Row(PassengerId=310, Survived=1, Pclass=1, Name='Francatelli, Miss. Laura Mabel', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='PC 17485', Fare=56.9292, Cabin='E36', Embarked='C'),
 Row(PassengerId=311, Survived=1, Pclass=1, Name='Hays, Miss. Margaret Bechstein', Sex='female', Age=24.0, SibSp=0, Parch=0, Ticket='11767', Fare=83.1583, Cabin='C54', Embarked='C'),
 Row(PassengerId=312, Survived=1, Pclass=1, Name='Ryerson, Miss. Emily Borie', Sex='female', Age=18.0, SibSp=2, Parch=2, Ticket='PC 17608', Fare=262.375, Cabin='B57 B59 B63 B66', Embarked='C'),
 Row(PassengerId=316, Survived=1, Pclass=3, Name='Nilsson, Miss. Helmina Josefina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='347470', Fare=7.8542, Cabin=None, Embarked='S'),
 Row(PassengerId=317, Survived=1, Pclass=2, Name='Kantor, Mrs. Sinai (Miriam Sternin)', Sex='female', Age=24.0, SibSp=1, Parch=0, Ticket='244367', Fare=26.0, Cabin=None, Embarked='S'),
 Row(PassengerId=319, Survived=1, Pclass=1, Name='Wick, Miss. Mary Natalie', Sex='female', Age=31.0, SibSp=0, Parch=2, Ticket='36928', Fare=164.8667, Cabin='C7', Embarked='S'),
 Row(PassengerId=320, Survived=1, Pclass=1, Name='Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', Sex='female', Age=40.0, SibSp=1, Parch=1, Ticket='16966', Fare=134.5, Cabin='E34', Embarked='C'),
 Row(PassengerId=323, Survived=1, Pclass=2, Name='Slayter, Miss. Hilda Mary', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='234818', Fare=12.35, Cabin=None, Embarked='Q'),
 Row(PassengerId=324, Survived=1, Pclass=2, Name='Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', Sex='female', Age=22.0, SibSp=1, Parch=1, Ticket='248738', Fare=29.0, Cabin=None, Embarked='S'),
 Row(PassengerId=326, Survived=1, Pclass=1, Name='Young, Miss. Marie Grice', Sex='female', Age=36.0, SibSp=0, Parch=0, Ticket='PC 17760', Fare=135.6333, Cabin='C32', Embarked='C'),
 Row(PassengerId=328, Survived=1, Pclass=2, Name='Ball, Mrs. (Ada E Hall)', Sex='female', Age=36.0, SibSp=0, Parch=0, Ticket='28551', Fare=13.0, Cabin='D', Embarked='S'),
 Row(PassengerId=329, Survived=1, Pclass=3, Name='Goldsmith, Mrs. Frank John (Emily Alice Brown)', Sex='female', Age=31.0, SibSp=1, Parch=1, Ticket='363291', Fare=20.525, Cabin=None, Embarked='S'),
 Row(PassengerId=330, Survived=1, Pclass=1, Name='Hippach, Miss. Jean Gertrude', Sex='female', Age=16.0, SibSp=0, Parch=1, Ticket='111361', Fare=57.9792, Cabin='B18', Embarked='C'),
 Row(PassengerId=338, Survived=1, Pclass=1, Name='Burns, Miss. Elizabeth Margaret', Sex='female', Age=41.0, SibSp=0, Parch=0, Ticket='16966', Fare=134.5, Cabin='E40', Embarked='C'),
 Row(PassengerId=339, Survived=1, Pclass=3, Name='Dahl, Mr. Karl Edwart', Sex='male', Age=45.0, SibSp=0, Parch=0, Ticket='7598', Fare=8.05, Cabin=None, Embarked='S'),
 Row(PassengerId=341, Survived=1, Pclass=2, Name='Navratil, Master. Edmond Roger', Sex='male', Age=2.0, SibSp=1, Parch=1, Ticket='230080', Fare=26.0, Cabin='F2', Embarked='S'),
 Row(PassengerId=342, Survived=1, Pclass=1, Name='Fortune, Miss. Alice Elizabeth', Sex='female', Age=24.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId=346, Survived=1, Pclass=2, Name='"Brown, Miss. Amelia ""Mildred"""', Sex='female', Age=24.0, SibSp=0, Parch=0, Ticket='248733', Fare=13.0, Cabin='F33', Embarked='S'),

In [28]:
(filtered_df.select('Embarked','Sex')
 .where(col('Survived')
 .isNotNull and col('Survived') == 0)
 .groupby( filtered_df.Embarked,filtered_df.Sex)
 .count()
 .orderBy("Embarked","count",ascending=True)
 .explain())

AttributeError: 'GroupedData' object has no attribute 'collect'

In [7]:
# Define a Schema Up-Front For Incomming data.
titanic_schema = StructType([
            StructField("passenger_id", IntegerType(), True),
            StructField("survived", IntegerType(), True),
            StructField("passenger_class", IntegerType(), True),
            StructField("name", StringType(), True),
            StructField("sex", StringType(), True),
            StructField("age ", FloatType(), True),
            StructField("sib_spouse", IntegerType(), True),
            StructField("parerent_child", IntegerType(), True),
            StructField("tickets", StringType(), True),
            StructField("fare", FloatType(), True),
            StructField("embarked", StringType(), True),
                            ])

In [8]:
# Drop The Columns "Cabin"
after_Filtered_df = filtered_df.drop("Cabin")
# after_Filtered_df.printSchema()

In [ ]:
# Create A DataFrame Using The Above Schema.
new_dataframe =  spark.createDataFrame(data= after_Filtered_df.collect(), schema=titanic_schema)
# new_dataframe.show(20)

In [ ]:
# new_dataframe.explain()

In [19]:
# Operations with Spark DataFrame Columns.
# Adding a New Column using a conditional Expression.

# Determine the Average Fare.
avgFareRate = new_dataframe.select(avg(new_dataframe.fare)).collect().__str__()
avg1 = avgFareRate.split('=', 2)
delimeter = [')]']
temp_data = []
for d in delimeter:
    for item in avg1:
        temp_data.extend(item.split(d))
        
# print(temp_data)

def is_float(string):
    try:
        # Return true if float
        float(string)
        return True
    except ValueError:
        # Return False if Error
        return False
    
averageTicketRate = 0.0
for data in temp_data:
    if  is_float(data):
        averageTicketRate = data
# print(averageTicketRate)  

# Explain the Spark Plans:
new_dataframe.withColumn('Expensive', expr("Fare >" + averageTicketRate)).show()



# new_dataframe.show()

+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+---------+
|passenger_id|survived|passenger_class|                name|   sex|age |sib_spouse|parerent_child|         tickets|   fare|embarked|Expensive|
+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+---------+
|           1|       0|              3|Braund, Mr. Owen ...|  male|22.0|         1|             0|       A/5 21171|   7.25|       S|    false|
|           2|       1|              1|Cumings, Mrs. Joh...|female|38.0|         1|             0|        PC 17599|71.2833|       C|     true|
|           3|       1|              3|Heikkinen, Miss. ...|female|26.0|         0|             0|STON/O2. 3101282|  7.925|       S|    false|
|           4|       1|              1|Futrelle, Mrs. Ja...|female|35.0|         1|             0|          113803|   53.1|       S|     true|
|           5|       0|              3|Allen, Mr. Willia...|  male|35.0|         0|             0|          373450|   8.05|       S|    false|
|           7|       0|              1|McCarthy, Mr. Tim...|  male|54.0|         0|             0|           17463|51.8625|       S|     true|
|           8|       0|              3|Palsson, Master. ...|  male| 2.0|         3|             1|          349909| 21.075|       S|    false|
|           9|       1|              3|Johnson, Mrs. Osc...|female|27.0|         0|             2|          347742|11.1333|       S|    false|
|          10|       1|              2|Nasser, Mrs. Nich...|female|14.0|         1|             0|          237736|30.0708|       C|    false|
|          11|       1|              3|Sandstrom, Miss. ...|female| 4.0|         1|             1|         PP 9549|   16.7|       S|    false|
|          12|       1|              1|Bonnell, Miss. El...|female|58.0|         0|             0|          113783|  26.55|       S|    false|
|          13|       0|              3|Saundercock, Mr. ...|  male|20.0|         0|             0|       A/5. 2151|   8.05|       S|    false|
|          14|       0|              3|Andersson, Mr. An...|  male|39.0|         1|             5|          347082| 31.275|       S|    false|
|          15|       0|              3|Vestrom, Miss. Hu...|female|14.0|         0|             0|          350406| 7.8542|       S|    false|
|          16|       1|              2|Hewlett, Mrs. (Ma...|female|55.0|         0|             0|          248706|   16.0|       S|    false|
|          17|       0|              3|Rice, Master. Eugene|  male| 2.0|         4|             1|          382652| 29.125|       Q|    false|
|          19|       0|              3|Vander Planke, Mr...|female|31.0|         1|             0|          345763|   18.0|       S|    false|
|          21|       0|              2|Fynney, Mr. Joseph J|  male|35.0|         0|             0|          239865|   26.0|       S|    false|
|          22|       1|              2|Beesley, Mr. Lawr...|  male|34.0|         0|             0|          248698|   13.0|       S|    false|
|          23|       1|              3|"McGowan, Miss. A...|female|15.0|         0|             0|          330923| 8.0292|       Q|    false|
+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+---------+

In [35]:
aqx = new_dataframe.groupBy('age ').count()
aqx.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[age #233], functions=[count(1)])
   +- Exchange hashpartitioning(age #233, 200), ENSURE_REQUIREMENTS, [plan_id=626]
      +- HashAggregate(keys=[knownfloatingpointnormalized(normalizenanandzero(age #233)) AS age #233], functions=[partial_count(1)])
         +- Project [age #233]
            +- Scan ExistingRDD[passenger_id#228,survived#229,passenger_class#230,name#231,sex#232,age #233,sib_spouse#234,parerent_child#235,tickets#236,fare#237,embarked#238]

In [ ]:
sdx = new_dataframe.select('passenger_id','name')
# sdx.show()

Narrow Transformations

filter rows where Age = 10
add a new column: adding first_name and last_name
alter an exisitng column: adding 5 to age column
select relevant columns

In [39]:
df_narrow_tansform  =(
    new_dataframe
    .withColumn('first_name', F.split('name', ', ').getItem(1))
    .withColumn('last_name', F.split('name', ', ').getItem(0))
    .select('*')
)

df_narrow_tansform.show(5)
# df_narrow_tansform.explain()

+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+--------------------+---------+
|passenger_id|survived|passenger_class|                name|   sex|age |sib_spouse|parerent_child|         tickets|   fare|embarked|          first_name|last_name|
+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+--------------------+---------+
|           1|       0|              3|Braund, Mr. Owen ...|  male|22.0|         1|             0|       A/5 21171|   7.25|       S|     Mr. Owen Harris|   Braund|
|           2|       1|              1|Cumings, Mrs. Joh...|female|38.0|         1|             0|        PC 17599|71.2833|       C|Mrs. John Bradley...|  Cumings|
|           3|       1|              3|Heikkinen, Miss. ...|female|26.0|         0|             0|STON/O2. 3101282|  7.925|       S|         Miss. Laina|Heikkinen|
|           4|       1|              1|Futrelle, Mrs. Ja...|female|35.0|         1|             0|          113803|   53.1|       S|Mrs. Jacques Heat...| Futrelle|
|           5|       0|              3|Allen, Mr. Willia...|  male|35.0|         0|             0|          373450|   8.05|       S|   Mr. William Henry|    Allen|
+------------+--------+---------------+--------------------+------+----+----------+--------------+----------------+-------+--------+--------------------+---------+

In [17]:
df_narrow_tansform.explain()

== Physical Plan ==
*(1) Project [passenger_id#306, survived#307, passenger_class#308, name#309, sex#310, age #311, sib_spouse#312, parerent_child#313, tickets#314, fare#315, embarked#316, split(name#309, , , -1)[1] AS first_name#455, split(name#309, , , -1)[0] AS last_name#468]
+- *(1) Scan ExistingRDD[passenger_id#306,survived#307,passenger_class#308,name#309,sex#310,age #311,sib_spouse#312,parerent_child#313,tickets#314,fare#315,embarked#316]

In [ ]:
ndf =  df_narrow_tansform.drop('name')
ndf.show()
ndf.printSchema()

In [ ]:
# Re-Arranging The Columns
nndf =  ndf.select('passenger_id', 'first_name', 'last_name', 'passenger_class', 'survived','sex', 'age ', 'tickets', 'fare')
# nndf.explain()

In [42]:
# Create A Temporary View / Table From The Existing DataFrame.
ndf.createOrReplaceTempView("titanic")

In [48]:
spark.sql('select max(t.fare) from titanic t').take(2)

[Row(max(fare)=512.3292236328125)]

In [65]:
# Determine the Total Number Of Survived Passengers.
spark.sql('select count(survived) from titanic where survived = 1;').show()

+---------------+
|count(survived)|
+---------------+
|            290|
+---------------+

In [67]:
# Select Top 5 passenger class, where the survival rate is high.
spark.sql('select passenger_class, count(survived) AS Survived from titanic where survived = 1 group by passenger_class order by Survived DESC;').show()

+---------------+--------+
|passenger_class|Survived|
+---------------+--------+
|              1|     122|
|              3|      85|
|              2|      83|
+---------------+--------+

In [60]:
# Select Survival Rate based on Sex.
spark.sql('select sex, count(survived) AS Survived from titanic where survived = 1 group by sex order by Survived DESC;').show()

+------+--------+
|   sex|Survived|
+------+--------+
|female|     197|
|  male|      93|
+------+--------+